button {
    border: 1px outset blue;
    background-color: lightBlue;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background: rgb(213, 206, 166); /* Old browsers */
    background: -moz-linear-gradient(
      top,
      yellow 0%,
      rgba(201, 193, 144, 1) 40%,
      rgba(183, 173, 112, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      yellow 0%,
      rgba(201, 193, 144, 1) 40%,
      rgba(183, 173, 112, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      yellow 0%,
      rgba(201, 193, 144, 1) 40%,
      rgba(183, 173, 112, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#b7ad70',GradientType=0 ); /* IE6-9 */
  }
  button:hover {
    background-color: blue;
    color: white;
  }